<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>填写基本信息</title>
   
</head>
<body >
<div class="page">
  <div class="weui-form">
    
    <div class="weui-form__control-area">
      <div class="weui-cells__group weui-cells__group_form">
        <div class="weui-cells__title">填写</div>
        <div class="weui-cells weui-cells_form">
          <div class="weui-cell weui-cell_active">
            <div class="weui-cell__hd"><label class="weui-label">学校</label></div>
            <div class="weui-cell__bd">
                <input id="school" class="weui-input" placeholder="填写孩子所在学校"/>
            </div>
          </div>
          <div class="weui-cell weui-cell_active">
            <div class="weui-cell__hd"><label class="weui-label">年级</label></div>
            <div class="weui-cell__bd">
                <input id="grade" class="weui-input" placeholder="填写"/>
            </div>
          </div>
          <div class="weui-cell weui-cell_active">
            <div class="weui-cell__hd"><label class="weui-label">班级</label></div>
            <div class="weui-cell__bd">
                <input id="js_class" class="weui-input" placeholder="填写班级" type="number" pattern="[0-9]*" />
            </div>
          </div>
           <div class="weui-cell weui-cell_active">
            <div class="weui-cell__hd"><label class="weui-label">学生姓名</label></div>
            <div class="weui-cell__bd">
                <input id="js_name" class="weui-input" placeholder="填写学生姓名" type="number" pattern="[0-9]*" />
            </div>
          </div>
          <div class="weui-cell weui-cell_active">
            <div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
            <div class="weui-cell__bd">
                <input id="js_input" class="weui-input" placeholder="填写绑定的电话号码" type="number" pattern="[0-9]*" />
            </div>
          </div>
        </div>
      </div>
    </div>
 
  
   
  </div>
 
</div>
</body>
 

</html>