<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电子协议</title>
    <script src="jquery/1.11.0/jquery.min.js"></script>
<script src="jq-signature.js"></script>      
    <script>
        var _vwidth = window.screen.width;
        var _scale = _vwidth / 750;
        var _meta = document.createElement('meta');
        _meta.setAttribute('name', 'viewport');
        _meta.setAttribute('content', ' width = device - width , user - scalable = no , initial - scale = ' + _scale);
        document.getElementsByTagName('head')[0].appendChild(_meta);
    </script>
    <style>

    </style>
</head>

<body>
<h1>购买须知</h1>
<div>
   您将购买的服务是由长沙盛宁通讯科技有限公司提供的富哲学情分析服务，该服务以自愿购买为原则的有偿服务，您需要仔细阅读购买须知后签字并提交，您签字提交后视为您自愿购买长沙盛宁通讯科技有限公司提供的有偿服务，购买行为与其他第三方无任何关系。

本公司承诺所提供题型为全国五年内最新的真题，同时本公司对于提供服务的产品价格以及服务内容拥有最终解释权。

如您在购买过程有任何疑问请拔打客服热线：400-049-7988  咨询产品订购说明情况。

特别提醒：文化基础较差学生，专注课堂学习即可，不主张购买。
</div>
<h4>家长签名(可以横屏操作)</h4>
</body>
</html>