<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
 <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../css/weui.css"/>
    <link rel="stylesheet" href="../css/weuix.css"/>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
  <style>
        body{background-color: #191919}
        .m{ width: 740px; height: 400px; margin-left: auto; margin-right: auto; margin-top: 100px; }
    </style>
</head>
<body ontouchstart>
<div class="container">
   <button onclick="test()">扫一扫</button>
 <!--  <embed src="../static/vid/vid.mp4" th:src="@{/vid/vid.mp4}" > -->
   <video id="vio" controls="" autoplay="" name="media"><source src="../static/vid/vid.mp4" th:src="@{/vid/vid.mp4}" type="video/mp4"></video>
</div>


  
  

 

    <div class="m">
        <video id="my-video" class="video-js" controls preload="auto" width="740" height="400"
          poster="m.png" data-setup="{}">
            <source src="../static/vid/vid.mp4" th:src="@{/vid/vid.mp4}"  type="video/mp4">
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
        
          <script type="text/javascript">
            var myPlayer = videojs('my-video');
            videojs("my-video").ready(function(){
                var myPlayer = this;
                myPlayer.play();
            });
        </script>
    </div>
 



</body>
</html>
   







       

      

       

       