<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numberone.project.hn.school.mapper.HnSchoolMapper">
    
    <resultMap type="HnSchool" id="HnSchoolResult">
        <result property="id"    column="id"    />
        <result property="schoolName"    column="school_name"    />
        <result property="countryId"    column="country_id"    />
        <result property="cityId"    column="city_id"    />
        <result property="areaId"    column="area_id"    />
        <result property="url"    column="url"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHnSchoolVo">
        select id, school_name, country_id, city_id, area_id, url, status, create_by, create_time, update_by, update_time from hn_school
    </sql>

    <select id="selectHnSchoolList" parameterType="HnSchool" resultMap="HnSchoolResult">
        <include refid="selectHnSchoolVo"/>
        <where>  
            <if test="schoolName != null  and schoolName != ''"> and school_name like concat('%', #{schoolName}, '%')</if>
            <if test="countryId != null "> and country_id = #{countryId}</if>
            <if test="cityId != null "> and city_id = #{cityId}</if>
            <if test="areaId != null "> and area_id = #{areaId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectHnSchoolById" parameterType="Long" resultMap="HnSchoolResult">
        <include refid="selectHnSchoolVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHnSchool" parameterType="HnSchool" useGeneratedKeys="true" keyProperty="id">
        insert into hn_school
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schoolName != null  and schoolName != ''">school_name,</if>
            <if test="countryId != null ">country_id,</if>
            <if test="cityId != null ">city_id,</if>
            <if test="areaId != null ">area_id,</if>
            <if test="url != null  and url != ''">url,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schoolName != null  and schoolName != ''">#{schoolName},</if>
            <if test="countryId != null ">#{countryId},</if>
            <if test="cityId != null ">#{cityId},</if>
            <if test="areaId != null ">#{areaId},</if>
            <if test="url != null  and url != ''">#{url},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateHnSchool" parameterType="HnSchool">
        update hn_school
        <trim prefix="SET" suffixOverrides=",">
            <if test="schoolName != null  and schoolName != ''">school_name = #{schoolName},</if>
            <if test="countryId != null ">country_id = #{countryId},</if>
            <if test="cityId != null ">city_id = #{cityId},</if>
            <if test="areaId != null ">area_id = #{areaId},</if>
            <if test="url != null  and url != ''">url = #{url},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHnSchoolById" parameterType="Long">
        delete from hn_school where id = #{id}
    </delete>

    <delete id="deleteHnSchoolByIds" parameterType="String">
        delete from hn_school where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>